<div class="logos flex flex-row items-center justify-center p-8">
    <a class="w-1/2 pr-16 border-r border-solid border-grey flex flex-row justify-end" href="{{ pages.find('germaniko').url }}" title="{{ pages.find('germaniko').title }}">
        <img src="{{ kirby.url('assets')  }}/images/germaniko-logo.png" class="" />
    </a>
    <a class="w-1/2 pl-16 flex flex-row justify-start" href="{{ pages.find('victoria').url }}" title="{{ pages.find('victoria').title }}">
        <img src="{{ kirby.url('assets')  }}/images/victoria-logo.png" class="" />
    </a>
</div>
