{% if text|length > 500 %}
<div class="maintext paragraphs mb-32 text-center md:text-left" data-role="moreless">
    <div data-role="truncated">
        {{ text.excerpt(500, false)|raw }}
    </div>
    <div data-role="fulltext" hidden>
        {{ text.kt|raw }}
    </div>
    <button class="font-bold link mt-24" data-role="readmore">{{ t('readmore') }}</button>
    <button class="font-bold link mt-24" data-role="readless" hidden>{{ t('readless') }}</button>
</div>
{% else %}
<div class="maintext paragraphs mb-32 text-center md:text-left">
    {{ text.kt|raw }}
</div>
{% endif %}
