{% import '@snippets/atoms/icons.twig'  as icons %}

<nav class="menu flex flex-row">
    <button class="menu-button flex flex-row items-center p-16 uppercase type-14 tracking-wide link" data-toggle-menu="#menu">
            {{ icons.menu() }}
        <span class="pl-16">Menu</span>
    </button>
    <div id="menu" class="menu-wrapper">
        <div class="close-buttom-wrap w-full justify-end mb-32">
            <button class="close-button text-white h-32 w-32" data-toggle-target="#menu">
                {{ icons.close() }}
            </button>
        </div>
        <ul class="menu-list list-reset py-16">
        {% for item in site.pages.listed %}
            {% if item.hasListedChildren %}
                <li class="has-dropdown-button z-0">
                    <span class="flex flex-row menulink">
                        <button class="link uppercase type-14 tracking-wide {{ item.isOpen ? ' text-purple ' : ' ' }} block" data-toggle-target="#submenu-{{ item.slug }}">{{ item.title }}</button> {{ icons.arrowdown() }}
                    </span>
                    <ul class="dropdown list-reset" id="submenu-{{ item.slug }}">
                        {% for subitem in item.children.listed %}
                            <li>
                                <a class="{{ item.isOpen ? ' text-purple ' : ' ' }}" href="{{ subitem.url }}">{{ subitem.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>
                    <a class="menulink uppercase type-14 tracking-wide {{ item.isOpen ? ' text-purple ' : ' ' }} block" href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>
