{% extends "@snippets/app.twig" %}

{% block main %}
<article>
    {% include '@snippets/parts/pageheader.twig' %}

    {% embed "@snippets/containers/wrapper.twig" %}
        {% block wrappercontent %}

        {% for room in page.pricetable.toStructure %}

        <table class="w-full mb-8 border-b border-grey-light">
            <tbody class="flex flex-col md:flex-row">
                <tr class="flex flex-col w-full md:w-1/4 items-stretch">
                    <th class="bg-grey-light text-center text-grey-darker w-2/3 md:w-full p-16 md:border-r border-white md:h-120 md:py-24 w-full">
                        <p class="text-21 font-bold">{{ room.description }}</p>
                    </th>
                    <td class="">
                        <picture>
                            <source type="image/jpeg" media="(max-width: 768px)" srcset="{{ room.image.toFile.customsize(768, 512) }}">
                            <source type="image/jpeg" media="(min-width: 1300px)" srcset="{{ room.image.toFile.customsize(320, 210) }}">
                            <img src="{{ room.image.toFile.customsize(768, 512) }}" class="block w-full lazyload">
                        </picture>
                    </td>
                </tr>
                <tr class="flex flex-row md:flex-col w-full md:w-1/4 border-b border-white">
                    <th scope="row" class="bg-grey-light text-left md:text-center w-2/3 md:w-full p-16 md:border-r border-solid border-white md:h-120 md:py-24 md:flex-none">
                        <p class="text-21 uppercase tracking-wide font-regular">{{ t('season_low') }}</p>
                        <p class="text-16 font-regular">{{ site.lowseason.kt|raw }}</p>
                    </th>
                    <td class="bg-grey-light md:bg-white text-left md:text-center w-1/3 md:w-full min-w-96 p-16 md:border-r border-solid border-grey-light md:flex-grow flex items-center justify-center" >
                        <p class="text-30 whitespace-no-wrap">&euro; {{ room.lowprice }}</p>
                    </td>
                </tr>

                <tr class="flex flex-row md:flex-col w-full md:w-1/4 border-b border-solid border-white">
                    <th scope="row" class="bg-grey-light text-left md:text-center text-grey-darker w-2/3 md:w-full p-16 md:border-r border-solid border-white md:h-120 md:py-24 md:flex-none">
                        <p class=" uppercase tracking-wide font-regular">{{ t('season_mid') }}</p>
                        <p class="font-regular">{{ site.midseason.kt|raw }}</p>
                    </th>
                    <td class="bg-grey-light md:bg-white text-left md:text-center text-grey-darker w-1/3 md:w-full min-w-96 p-16 md:border-r border-solid border-grey-light md:flex-grow flex items-center justify-center" >
                        <p class="text-30 whitespace-no-wrap">&euro; {{ room.midprice }}</p>
                    </td>
                </tr>

                <tr class="flex flex-row md:flex-col w-full md:w-1/4 border-b border-solid border-white">
                    <th scope="row" class="bg-grey-light text-left md:text-center text-grey-darker w-2/3 md:w-full p-16 md:border-r border-solid border-white md:h-120 md:py-24 md:flex-none">
                        <p class=" uppercase tracking-wide font-regular">{{ t('season_high') }}</p>
                        <p class="font-regular">{{ site.highseason.kt|raw }}</p>
                    </th>
                    <td class="bg-grey-light md:bg-white text-left md:text-center text-grey-darker w-1/3 md:w-full min-w-96 p-16 md:border-r border-solid border-grey-light md:flex-grow flex items-center justify-center" >
                        <p class="text-30 whitespace-no-wrap">&euro; {{ room.highprice }}</p>
                    </td>
                </tr>

            </tbody>
        </table>
        {% endfor %}



        {% endblock %}
    {% endembed %}

    {% include '@snippets/blocks/index.twig' %}
</article>
{% endblock %}
